@charset "UTF-8";


/*Typical Device Brakepoints


/*
/*@media print {
    /*IMPRESSÃO*/

/*=====================================📱 MOBILE ==========================================*/
/*#PORTRAIT  max-width: 480px*/
@media screen and (max-width: 480px) and (orientation: portrait) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }
}

/*#LANDSCAPE max-width: 768px*/
@media screen and (max-width: 768px) and (orientation: landscape) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }
}

/*===================================== 📔 TABLETS ==========================================*/
/*#PORTRAIT  min-width: 834px and max-width: 1023px*/

@media screen and (min-width: 834px) and (max-width: 1023px) and (orientation: portrait) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }
}

/*#LANDSCAPE min-width: 1024px and max-width: 1279px*/

@media (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }

}

/*===================================== 💻 LAPTOP ==========================================*/
/*#SMALL min-width: 1280px and max-width: 1366px*/

@media screen and (min-width: 1280px) and (max-width: 1366px) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }

}

/*#LARGE  min-width: 1367px and max-width: 1919px*/

@media screen and (min-width: 1367px) and (max-width: 1919px) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }
}

/*================================= 🖥 DESKTOP  =======================================*/

/*#PORTRAIT - min-width: 1920px*/

@media screen and (min-width: 1920px) and (orientation: portrait) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }

}

/*#LANDSCAPE - min-width: 1920px*/

@media screen and (min-width: 1920px) and (orientation: landscape) {
    body, main {
        background: #050A2E;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .box-blur {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50em;
        height: 50em;
        flex-shrink: 0;
        border-radius: 57.875em;
        background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    }

}

/*================================= DESKTOP EXTRA LARGE SCRENS  =======================================*/